//GLOBALES
$colorPrimario: #212529;
$colorSecundario: white;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
//--------------------------------------------------------------------------------
// NAVEGACION / HEADER
.navbar-brand {
  font-size: large;
}

.navbar {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
//--------------------------------------------------------------------------------
// MAIN Y FOOTER
h2 {
  color: black;
}

.cajaPrueba {
  height: 80rem;
  background-color: $colorSecundario;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cajaFooter {
  height: 40rem;
  background-color: $colorPrimario;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: $colorSecundario;
  }
}

/*
// EJEMPLO DE MIXING
@mixin nombreDelMixin {
  height: 60rem;
  background-color: red;
  display: flex;
}

.laClase {
  @include nombreDelMixin;
}
*/
