//GLOBALES
$colorPrimario: #212529;
$colorSecundario: white;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
//--------------------------------------------------------------------------------
// NAVEGACION / HEADER
.cajaHeader {
  display: grid;
  background-color: $colorPrimario;
  grid-template-columns: 1fr 2fr 0.5fr;
  grid-template-rows: 10rem;
  grid-template-areas: "cajauno cajados cajatres";
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 0.1px solid black;
  .headerLogo {
    display: flex;
    grid-area: cajauno;
    align-items: center;
    justify-content: center;
  }
  .headerNav {
    display: flex;
    grid-area: cajados;
    align-items: center;
    justify-content: center;
  }
  .headerCart {
    display: flex;
    grid-area: cajatres;
    align-items: center;
    justify-content: center;
  }
}

.lista {
  list-style: none;
  display: flex;
}

.itemLista {
  margin: 1.5rem;
}

.linkLista {
  color: white;
  font-style: none;
}

.iconoCarrito {
  height: 4rem;
  width: 4rem;
}
//--------------------------------------------------------------------------------
// MAIN Y FOOTER
h2 {
  color: black;
}

.cajaPrueba {
  height: 40rem;
  background-color: $colorSecundario;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cajaFooter {
  height: 40rem;
  background-color: $colorPrimario;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: $colorSecundario;
  }
}
//--------------------------------------------------------------------------------
// COMPONENTE | ItemListContainer.js
.cajaGreeting {
  height: 40rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-direction: column;
}
//--------------------------------------------------------------------------------
// COMPONENTE | ItemList.js
.cajaItemList {
  height: 40rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
//--------------------------------------------------------------------------------
// COMPONENTE | Item.js
.cajaItem {
  height: 40rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

//--------------------------------------------------------------------------------
// CAJA CONTADOR | ItemCount.js

.cajaContador {
  height: 20rem;
  width: 35rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem;
  grid-template-areas: "cajauno" "cajados" "cajatres";
  //justify-content: ;
  align-items: center;
  .box1 {
    display: flex;
    grid-area: cajauno;
    align-items: center;
    justify-content: center;
  }
  .box2 {
    display: flex;
    grid-area: cajados;
    align-items: center;
    justify-content: space-around;
  }
  .box3 {
    display: flex;
    grid-area: cajatres;
    align-items: center;
    justify-content: center;
    button {
      margin: 1rem;
    }
  }
  button {
    padding: 1rem;
  }
}

/*
// EJEMPLO DE MIXING
@mixin nombreDelMixin {
  height: 60rem;
  background-color: red;
  display: flex;
}

.laClase {
  @include nombreDelMixin;
}
*/
